html {
    background-color: #E5E5E5;
}

.layout {
    display: flex;
    flex-direction: row;
    background-color: #E5E5E5;
}
.header {
    border-radius: 30px 30px 0px 0px;
    background-color: #FFD732;
    color: #1B110D;
    opacity: 75%;
    text-align: center;
    font-size: 10px;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #FAFAFA;
    margin: 3rem;
    border-radius: 30px 30px 30px 30px;
    padding-bottom: 1rem;
    width: 50%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.no-item {
    margin: 4rem;
    text-align: center;
    font-size: large;
    color: #867B79;
}
.task-icon {

}
.task-item {
        
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}


.task-text {
    margin:0.3rem;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    background-color: #E8E8E8;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px 10px 10px 10px;
    color: #1B110D;
    opacity: 75%
}